---
import { Icon } from 'astro-icon/components';
import { getImage } from 'astro:assets';

const { speaker } = Astro.props;
const optimizedProfileimage = await getImage({ src: speaker.profilePicture, inferSize: true });
---

<section class="bg-yellow-200 rounded-3xl border-solid border-4 border-black dark:text-black m-2 p-2 md:m-10 md:p-10">
  <div class="p-5 w-full">
    <img
      src={optimizedProfileimage.src}
      alt={speaker.fullName}
      class="rounded-full w-48 mx-auto rounded-3xl border-solid border-4 border-black"
    />
  </div>
  <h3 class="font-semibold">{speaker.fullName}</h3>
  {
    speaker.links.length > 0 && (
      <ul class="inline-flex space-x-4 text-xl my-2">
        {speaker.links.map((link) => (
          <li>
            <a href={link.url} class="hover:text-purple-700" aria-label={link.linkType}>
              {link.title === 'X (Twitter)' && <Icon name="tabler:brand-x" class="w-6 h-6 " />}
              {link.title === 'LinkedIn' && <Icon name="tabler:brand-linkedin" class="w-6 h-6" />}
              {link.title === 'Company Website' && <Icon name="tabler:world" class="w-6 h-6" />}
              {link.title === 'Website' && <Icon name="tabler:home" class="w-6 h-6" />}
              {link.title === 'Blog' && <Icon name="tabler:notebook" class="w-6 h-6" />}
              {link.title === 'Facebook' && <Icon name="tabler:brand-facebook" class="w-6 h-6" />}
              {link.title === 'Instagram' && <Icon name="tabler:brand-instagram" class="w-6 h-6" />}
            </a>
          </li>
        ))}
      </ul>
    )
  }
  <p>{speaker.tagLine}</p>
  {speaker.sessions.map((session) => <h3>{session.name}</h3>)}
</section>
