---
import DataPsy from '~/assets/images/sponsors/data-psy.png';
import E4C from '~/assets/images/sponsors/e4c.png';
import Button from '~/components/ui/Button.astro';
import Bot from '../../assets/images/sponsors/bot_male_master_logo_full_color_web_lg.jpg';
import GoogleLogo from '../../assets/images/sponsors/Google_2015_logo.png';
import Kodeco from '../../assets/images/sponsors/logotype-orange.png';
import OrlandoDevs from '../../assets/images/sponsors/orlando_devs.png';
import onetug from '../../assets/images/sponsors/onetug.png';
import Postman from '../../assets/images/sponsors/postman.png';
---

<section class="w-10/12 mx-auto">
  <p class="text-center">Thank you to our sponsors for their generous support.</p>
</section>

<h3 class="text-center my-10 font-semibold">Partners</h3>
<section class="w-10/12 mx-auto grid grid-cols-1">
  <a href="https://www.seminolestate.edu/" target="_blank">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0"
      y="0"
      width="1280"
      height="720"
      viewBox="0, 0, 1280, 720"
      class="object-contain h-96 w-full px-2 mx-auto text-[#003087] dark:text-white"
    >
      <g id="Layer_1">
        <path
          d="M518.78,81.944 C509.027,86.219 506.587,88.608 506.587,88.608 C504.598,232.868 618.642,275.192 627.498,278.305 C603.243,265.972 516.225,212.424 518.78,81.944 z"
          fill="currentColor"
          id="Path"></path>
        <path
          d="M717.586,67.276 C657.885,78.94 583.721,110.708 556.074,190.339 C556.785,191.708 557.501,193.053 558.247,194.392 C558.933,194.125 559.639,193.871 560.441,193.661 C619.964,149.519 695.466,165.03 695.466,165.03 C695.466,165.03 695.296,213.937 628.983,267.087 C635.892,271.08 640.205,272.918 640.205,272.918 C705.44,238.528 730.184,183.965 739.107,140.787 C691.727,124.482 625.964,138.779 625.964,138.779 C625.964,138.779 658.3,95.838 742.85,75.306 C742.806,74.936 742.785,74.738 742.785,74.738 C742.785,74.738 732.36,71.334 717.586,67.276 z"
          fill="currentColor"
          id="path1"></path>
        <path
          d="M697.005,62.023 C679.362,57.864 659.834,54.233 644.702,54.015 C587.355,53.197 533.105,76.708 533.105,76.708 C531.856,102.332 534.267,124.974 539.089,144.892 C578.973,83.749 673.12,65.697 697.005,62.023 z"
          fill="#FDD400"
          id="path2"></path>
        <path
          d="M697.005,62.023 C679.362,57.864 659.834,54.233 644.702,54.015 C587.355,53.197 533.105,76.708 533.105,76.708 C531.856,102.332 534.267,124.974 539.089,144.892 C578.973,83.749 673.12,65.697 697.005,62.023 z"
          fill="#FDD400"
          id="path3"></path>
        <path
          d="M220.764,413.215 C220.461,411.854 219.706,409.734 219.706,408.373 C219.706,407.311 220.308,406.098 222.884,406.098 C225.911,406.098 226.67,410.187 227.728,412.46 C233.329,424.419 244.23,435.015 258.461,435.015 C269.057,435.015 277.687,428.506 277.687,417.455 C277.687,392.78 221.523,404.737 221.523,363.408 C221.523,347.814 234.238,333.735 252.103,333.735 C264.972,333.735 272.69,339.639 277.687,339.639 C279.354,339.639 282.684,337.523 284.045,337.523 C286.012,337.523 286.468,338.429 286.468,340.398 C286.165,349.026 288.588,362.804 288.588,364.466 C288.588,366.437 287.679,367.797 285.559,367.797 C282.834,367.797 282.228,365.378 281.018,361.592 C277.537,350.54 264.668,340.549 253.161,340.549 C243.927,340.549 235.904,345.848 235.904,354.477 C235.904,380.211 292.069,366.59 292.069,408.373 C292.069,423.056 280.564,441.828 258.005,441.828 C248.317,441.828 239.839,438.65 230.604,436.832 C229.091,436.528 226.67,436.378 226.062,434.262 L220.764,413.215 z"
          fill="currentColor"
          id="path4"></path>
        <path
          d="M314.636,361.441 C314.636,354.025 313.879,342.666 307.519,341.912 C302.826,341.305 299.65,339.942 299.65,337.523 C299.65,335.098 302.221,335.098 305.251,335.098 C316.905,336.612 328.564,336.16 340.22,336.311 C351.877,336.311 363.535,335.098 375.191,335.098 C378.672,335.098 381.701,335.098 381.701,338.125 C381.701,341.456 381.097,344.788 381.097,348.117 C381.097,351.449 381.701,354.778 381.701,358.108 C381.701,359.777 381.247,360.987 378.975,360.987 C376.554,360.987 376.098,358.263 375.948,356.9 C374.888,347.362 370.497,343.425 352.785,343.425 L342.946,343.425 C338.706,343.425 337.646,344.788 337.646,350.691 L337.646,377.184 C337.646,379.607 340.22,380.366 346.275,380.366 C355.057,380.366 361.718,377.792 364.139,371.28 C365.806,367.042 366.412,366.59 367.924,366.59 C370.196,366.59 370.196,368.706 370.196,370.828 C370.196,375.367 369.59,379.91 369.59,384.453 C369.59,388.994 370.196,393.535 370.196,398.076 C370.196,400.196 370.196,402.314 367.319,402.314 C365.047,402.314 365.047,397.773 363.232,394.746 C359.446,388.538 355.057,387.631 346.275,387.631 C339.007,387.631 337.646,389.598 337.646,393.382 L337.646,419.274 C337.646,430.476 339.615,432.14 347.637,432.14 C363.535,432.14 372.316,427.294 377.463,422.299 C382.609,417.304 384.122,412.159 386.547,412.159 C388.365,412.159 388.969,413.52 388.969,415.034 C388.969,418.061 387.756,423.963 386.698,426.993 C384.729,433.049 377.917,440.465 370.8,440.465 C360.658,440.465 350.515,439.254 340.37,439.254 C330.23,439.254 320.086,440.465 309.94,440.465 C305.251,440.465 302.978,440.465 302.978,438.044 C302.978,435.621 306.005,434.563 308.732,433.2 C313.727,430.777 314.636,427.143 314.636,418.513 L314.636,361.441 z"
          fill="currentColor"
          id="path5"></path>
        <path
          d="M406.537,359.626 C406.537,353.87 404.72,345.543 399.119,342.819 C394.124,340.398 392.004,339.942 392.004,337.523 C392.004,335.552 392.61,335.098 393.973,335.098 C398.515,335.098 403.057,335.704 407.597,335.704 C412.14,335.704 416.681,335.098 421.222,335.098 C424.249,335.098 425.311,335.552 426.369,337.674 L455.892,399.136 C458.917,405.345 459.977,407.915 460.432,407.915 C461.342,407.915 462.55,405.04 464.217,402.011 L497.373,338.579 C499.038,335.399 499.644,335.098 500.856,335.098 C505.397,335.098 509.938,335.704 514.479,335.704 C519.023,335.704 523.561,335.098 528.105,335.098 C529.012,335.098 529.465,335.855 529.315,337.523 C529.315,339.942 526.741,340.699 522.05,342.363 C516.599,344.18 514.176,345.698 514.176,354.627 L514.176,408.373 C514.176,420.938 514.933,429.112 526.741,433.654 C529.923,434.864 531.284,435.621 531.284,438.044 C531.284,440.465 528.257,440.465 525.228,440.465 C519.175,439.863 513.116,439.863 507.062,439.254 C501.007,439.863 494.95,439.863 488.895,440.465 C485.866,440.465 482.841,440.465 482.841,438.044 C482.841,435.621 484.2,434.864 487.079,433.654 C490.863,431.989 491.166,429.263 491.166,420.938 L491.166,372.492 C491.166,370.979 491.013,368.254 490.407,368.254 C489.347,368.254 488.442,370.372 486.473,374.307 L456.345,436.227 C455.285,438.345 453.774,440.465 451.955,440.465 C450.14,440.465 449.381,438.801 448.625,437.289 L419.102,373.096 C418.194,370.979 417.134,368.859 416.076,368.859 C415.167,368.859 414.864,369.465 414.864,372.341 L414.864,412.309 C414.864,421.847 417.134,429.717 427.582,433.654 C430.003,434.563 431.669,435.621 431.669,438.044 C431.669,440.465 429.095,440.465 427.582,440.465 C422.284,440.465 416.984,439.254 411.684,439.254 C406.386,439.254 401.086,440.465 395.79,440.465 C394.277,440.465 392.61,440.465 392.61,438.044 C392.61,435.621 394.427,434.864 396.698,433.654 C404.567,429.414 406.537,425.025 406.537,416.698 L406.537,359.626 z"
          fill="currentColor"
          id="path6"></path>
        <path
          d="M574.745,421.847 C574.745,431.23 583.073,434.107 586.401,434.412 C588.372,434.563 589.581,435.621 589.581,438.044 C589.581,440.465 585.19,440.465 580.8,440.465 C576.107,440.465 570.052,439.254 563.995,439.254 C557.943,439.254 551.884,440.465 545.829,440.465 C542.952,440.465 540.682,440.465 540.682,438.044 C540.682,435.621 543.255,434.864 544.769,434.412 C550.675,432.594 551.733,426.84 551.733,421.847 L551.733,353.72 C551.733,344.335 546.586,341.611 540.226,341.155 C538.261,341.002 537.048,339.942 537.048,337.523 C537.048,335.098 541.44,335.098 545.829,335.098 C551.884,335.098 557.943,336.311 563.995,336.311 C570.052,336.311 576.107,335.098 582.163,335.098 C584.281,335.098 586.554,335.098 586.554,337.523 C586.554,339.942 582.464,340.699 580.951,341.155 C575.047,342.974 574.745,348.725 574.745,353.72 L574.745,421.847 z"
          fill="currentColor"
          id="path7"></path>
        <path
          d="M626.072,366.283 C622.894,363.105 619.714,360.228 618.955,360.228 C618.2,360.228 617.747,360.682 617.747,364.316 L617.747,418.362 C617.747,425.78 620.32,431.381 627.584,433.654 C631.372,434.864 636.365,434.563 636.365,437.44 C636.365,440.465 632.731,440.465 630.009,440.465 C624.709,440.465 619.409,439.254 614.113,439.254 C608.813,439.254 603.515,440.465 598.217,440.465 C596.702,440.465 595.037,440.465 595.037,438.044 C595.037,435.621 596.852,434.864 599.123,433.654 C606.996,429.414 609.42,425.025 609.42,416.698 L609.42,359.626 C609.42,353.87 607.149,345.543 601.546,342.819 C596.551,340.398 594.431,339.942 594.431,337.523 C594.431,335.098 595.339,335.098 596.399,335.098 C600.942,335.098 605.483,335.704 610.024,335.704 C614.569,335.704 619.106,335.098 623.649,335.098 C626.981,335.098 628.039,335.552 629.405,337.065 L687.992,397.773 C690.108,399.895 692.232,401.86 693.139,401.86 C694.348,401.86 694.503,399.744 694.503,397.622 L694.503,363.256 C694.503,353.264 693.892,344.029 684.509,341.912 C680.574,341.002 676.489,339.942 676.489,337.523 C676.489,335.098 679.362,335.098 682.084,335.098 C687.386,335.098 692.684,336.311 697.982,336.311 C703.283,336.311 708.581,335.098 713.879,335.098 C715.389,335.098 717.061,335.098 717.061,337.523 C717.061,339.942 715.242,340.699 712.972,341.912 C705.094,346.149 702.827,350.54 702.827,358.865 L702.827,431.839 C702.827,438.5 702.221,440.314 700.407,440.314 C698.738,440.314 694.807,436.528 691.02,432.744 L626.072,366.283 z"
          fill="currentColor"
          id="path8"></path>
        <path
          d="M790.352,333.735 C821.386,333.735 845.764,353.87 845.764,385.967 C845.764,420.026 815.177,441.828 783.691,441.828 C752.652,441.828 729.642,421.239 729.642,390.508 C729.642,357.958 758.866,333.735 790.352,333.735 z M790.804,435.015 C808.671,435.015 821.236,415.941 821.236,394.294 C821.236,373.705 808.821,340.549 784.598,340.549 C766.735,340.549 754.166,359.626 754.166,381.271 C754.166,401.86 766.581,435.015 790.804,435.015 z"
          fill="currentColor"
          id="path9"></path>
        <path
          d="M860.449,353.72 C860.449,344.335 855.306,341.155 848.942,341.155 C846.976,341.155 845.764,339.942 845.764,337.824 C845.764,336.311 846.822,335.098 848.49,335.098 C855.757,335.098 863.175,336.311 870.438,336.311 C877.86,336.311 885.123,335.098 890.877,335.098 C892.997,335.098 895.272,335.098 895.272,337.523 C895.272,339.942 892.696,340.699 891.182,341.155 C885.274,342.974 883.459,348.725 883.459,353.72 L883.459,419.274 C883.459,430.777 885.274,432.14 892.997,432.14 C908.89,432.14 917.675,427.294 922.823,422.299 C927.97,417.304 929.634,412.309 933.418,412.309 C935.542,412.309 936.901,415.034 936.901,418.362 C936.901,430.777 924.943,440.465 913.134,440.465 C902.99,440.465 882.247,439.254 872.107,439.254 C866.507,439.254 860.904,440.465 855.306,440.465 C851.819,440.465 848.942,440.465 848.942,438.044 C848.942,435.621 851.367,435.32 854.691,433.2 C859.842,429.869 860.449,424.267 860.449,419.274 L860.449,353.72 z"
          fill="currentColor"
          id="path10"></path>
        <path
          d="M953.715,361.441 C953.715,354.025 952.958,342.666 946.598,341.912 C941.907,341.305 938.729,339.942 938.729,337.523 C938.729,335.098 941.296,335.098 944.327,335.098 C955.985,336.612 967.643,336.16 979.301,336.311 C990.954,336.311 1002.612,335.098 1014.269,335.098 C1017.753,335.098 1020.78,335.098 1020.78,338.125 C1020.78,341.456 1020.174,344.788 1020.174,348.117 C1020.174,351.449 1020.78,354.778 1020.78,358.108 C1020.78,359.777 1020.325,360.987 1018.054,360.987 C1015.633,360.987 1015.181,358.263 1015.027,356.9 C1013.969,347.362 1009.574,343.425 991.866,343.425 L982.023,343.425 C977.783,343.425 976.725,344.788 976.725,350.691 L976.725,377.184 C976.725,379.607 979.301,380.366 985.351,380.366 C994.136,380.366 1000.797,377.792 1003.218,371.28 C1004.882,367.042 1005.489,366.59 1007.003,366.59 C1009.273,366.59 1009.273,368.706 1009.273,370.828 C1009.273,375.367 1008.671,379.91 1008.671,384.453 C1008.671,388.994 1009.273,393.535 1009.273,398.076 C1009.273,400.196 1009.273,402.314 1006.396,402.314 C1004.126,402.314 1004.126,397.773 1002.307,394.746 C998.527,388.538 994.136,387.631 985.351,387.631 C978.088,387.631 976.725,389.598 976.725,393.382 L976.725,419.274 C976.725,430.476 978.695,432.14 986.718,432.14 C1002.612,432.14 1011.397,427.294 1016.54,422.299 C1021.683,417.304 1023.205,412.159 1025.626,412.159 C1027.441,412.159 1028.047,413.52 1028.047,415.034 C1028.047,418.061 1026.835,423.963 1025.777,426.993 C1023.808,433.049 1016.996,440.465 1009.879,440.465 C999.735,440.465 989.595,439.254 979.451,439.254 C969.307,439.254 959.163,440.465 949.019,440.465 C944.327,440.465 942.057,440.465 942.057,438.044 C942.057,435.621 945.084,434.563 947.81,433.2 C952.803,430.777 953.715,427.143 953.715,418.513 L953.715,361.441 z"
          fill="currentColor"
          id="path11"></path>
        <path
          d="M3.347,549.777 C3.045,548.416 2.287,546.298 2.287,544.937 C2.287,543.873 2.893,542.664 5.466,542.664 C8.496,542.664 9.25,546.75 10.312,549.023 C15.914,560.979 26.815,571.579 41.044,571.579 C51.639,571.579 60.27,565.068 60.27,554.017 C60.27,529.342 4.103,541.299 4.103,499.97 C4.103,484.376 16.821,470.299 34.684,470.299 C47.552,470.299 55.273,476.201 60.27,476.201 C61.934,476.201 65.267,474.085 66.63,474.085 C68.597,474.085 69.051,474.991 69.051,476.96 C68.747,485.588 71.171,499.366 71.171,501.03 C71.171,503.002 70.261,504.361 68.143,504.361 C65.417,504.361 64.811,501.94 63.6,498.154 C60.119,487.102 47.251,477.111 35.744,477.111 C26.511,477.111 18.487,482.41 18.487,491.039 C18.487,516.771 74.652,503.152 74.652,544.937 C74.652,559.618 63.147,578.393 40.588,578.393 C30.9,578.393 22.422,575.217 13.187,573.396 C11.672,573.092 9.25,572.942 8.646,570.824 L3.347,549.777 z"
          fill="currentColor"
          id="path12"></path>
        <path
          d="M124.165,486.65 C124.165,481.2 120.53,479.987 113.265,479.987 C98.73,479.987 92.222,481.2 88.437,496.188 C88.285,497.094 87.375,497.551 85.713,497.551 C83.591,497.551 82.989,496.64 82.989,495.732 C82.989,494.37 83.29,492.252 83.441,490.587 L84.955,475.141 C85.257,472.417 86.014,471.66 89.495,471.66 C104.94,471.66 120.229,472.873 135.673,472.873 C151.112,472.873 166.707,471.66 181.844,471.66 C185.63,471.66 186.084,472.114 186.54,477.263 L188.053,492.703 C188.206,493.765 188.356,494.976 188.356,496.034 C188.356,496.941 186.84,497.551 185.63,497.551 C183.813,497.551 183.056,497.094 182.906,496.188 C179.122,481.2 172.611,479.987 158.077,479.987 C149.75,479.987 147.176,481.652 147.176,486.65 L147.176,556.894 C147.176,568.852 157.472,568.702 162.465,570.975 C164.131,571.729 166.707,571.276 166.707,574.604 C166.707,577.029 164.888,577.029 163.073,577.029 C154.14,577.029 144.907,575.819 135.673,575.819 C126.436,575.819 117.202,577.029 108.27,577.029 C106.453,577.029 104.636,577.029 104.636,574.604 C104.636,571.276 107.21,571.729 108.874,570.975 C113.871,568.702 124.165,568.852 124.165,556.894 L124.165,486.65 z"
          fill="currentColor"
          id="path13"></path>
        <path
          d="M231.661,475.599 C233.63,471.66 234.387,470.299 235.748,470.299 C236.354,470.299 237.264,471.66 238.171,473.475 L276.019,555.838 C278.743,561.589 280.863,568.852 286.617,570.519 C290.702,571.729 292.972,572.181 292.972,574.604 C292.972,577.029 291.461,577.029 289.038,577.029 C281.77,577.029 274.503,575.819 267.842,575.819 C261.183,575.819 253.916,577.029 246.649,577.029 C244.531,577.029 243.62,575.969 243.62,575.064 C243.62,573.245 245.286,571.88 247.556,571.729 C251.491,570.974 253.916,567.492 253.916,563.553 C253.916,559.772 249.373,546.75 247.102,544.477 C245.135,542.514 242.256,541.909 234.839,541.909 L211.676,541.909 C203.957,541.909 199.717,557.199 199.717,563.703 C199.717,565.978 203.501,568.852 206.681,569.766 C210.921,570.974 216.522,572.181 216.522,574.604 C216.522,577.029 214.856,577.029 212.435,577.029 C207.285,577.029 202.138,575.819 196.991,575.819 C191.845,575.819 186.698,577.029 181.551,577.029 C179.431,577.029 177.614,577.029 177.614,574.604 C177.614,572.181 181.398,571.276 183.52,569.766 C186.092,567.945 187.302,566.279 188.515,563.854 L231.661,475.599 z M214.251,527.521 C213.19,529.644 212.585,531.31 212.585,531.764 C212.585,533.122 215.159,533.584 218.943,533.584 L235.292,533.584 C240.138,533.584 241.955,533.275 241.955,532.671 C241.955,531.764 240.895,529.037 239.685,526.618 L229.388,505.877 C228.33,503.905 227.724,502.847 226.664,502.847 C225.757,502.847 224.546,506.027 224.241,506.784 L214.251,527.521 z"
          fill="currentColor"
          id="path14"></path>
        <path
          d="M323.415,486.65 C323.415,481.2 319.781,479.987 312.514,479.987 C297.982,479.987 291.471,481.2 287.685,496.188 C287.534,497.094 286.627,497.551 284.962,497.551 C282.841,497.551 282.237,496.64 282.237,495.732 C282.237,494.37 282.54,492.252 282.69,490.587 L284.204,475.141 C284.507,472.417 285.264,471.66 288.749,471.66 C304.187,471.66 319.48,472.873 334.92,472.873 C350.364,472.873 365.956,471.66 381.095,471.66 C384.879,471.66 385.335,472.114 385.789,477.263 L387.3,492.703 C387.453,493.765 387.603,494.976 387.603,496.034 C387.603,496.941 386.09,497.551 384.879,497.551 C383.065,497.551 382.306,497.094 382.153,496.188 C378.369,481.2 371.862,479.987 357.328,479.987 C349.001,479.987 346.427,481.652 346.427,486.65 L346.427,556.894 C346.427,568.852 356.72,568.702 361.716,570.975 C363.382,571.729 365.956,571.276 365.956,574.604 C365.956,577.029 364.137,577.029 362.321,577.029 C353.389,577.029 344.157,575.819 334.92,575.819 C325.685,575.819 316.453,577.029 307.519,577.029 C305.702,577.029 303.886,577.029 303.886,574.604 C303.886,571.276 306.459,571.729 308.125,570.975 C313.12,568.702 323.415,568.852 323.415,556.894 L323.415,486.65 z"
          fill="currentColor"
          id="path15"></path>
        <path
          d="M405.782,498.003 C405.782,490.587 405.025,479.231 398.665,478.474 C393.973,477.867 390.792,476.504 390.792,474.085 C390.792,471.66 393.365,471.66 396.395,471.66 C408.05,473.174 419.71,472.722 431.366,472.873 C443.023,472.873 454.679,471.66 466.337,471.66 C469.818,471.66 472.847,471.66 472.847,474.687 C472.847,478.018 472.243,481.351 472.243,484.681 C472.243,488.012 472.847,491.34 472.847,494.67 C472.847,496.339 472.393,497.551 470.123,497.551 C467.7,497.551 467.244,494.825 467.094,493.462 C466.034,483.924 461.643,479.987 443.931,479.987 L434.092,479.987 C429.85,479.987 428.792,481.351 428.792,487.253 L428.792,513.746 C428.792,516.169 431.366,516.928 437.422,516.928 C446.201,516.928 452.864,514.354 455.285,507.842 C456.95,503.604 457.556,503.152 459.069,503.152 C461.342,503.152 461.342,505.268 461.342,507.39 C461.342,511.931 460.736,516.47 460.736,521.017 C460.736,525.556 461.342,530.097 461.342,534.638 C461.342,536.76 461.342,538.876 458.465,538.876 C456.195,538.876 456.195,534.337 454.376,531.31 C450.592,525.099 446.201,524.193 437.422,524.193 C430.155,524.193 428.792,526.162 428.792,529.947 L428.792,555.838 C428.792,567.04 430.761,568.702 438.783,568.702 C454.679,568.702 463.46,563.854 468.607,558.865 C473.754,553.867 475.268,548.721 477.693,548.721 C479.508,548.721 480.114,550.086 480.114,551.598 C480.114,554.623 478.902,560.528 477.844,563.553 C475.874,569.614 469.063,577.029 461.946,577.029 C451.802,577.029 441.662,575.819 431.516,575.819 C421.374,575.819 411.232,577.029 401.086,577.029 C396.395,577.029 394.124,577.029 394.124,574.604 C394.124,572.181 397.151,571.125 399.877,569.766 C404.872,567.341 405.782,563.703 405.782,555.077 L405.782,498.003 z"
          fill="currentColor"
          id="path16"></path>
        <path
          d="M627.128,495.883 C627.429,498.758 628.188,501.94 628.188,503.754 C628.188,505.421 627.429,507.39 625.913,507.39 C624.1,507.39 622.432,503.754 621.828,502.697 C612.288,485.889 599.422,477.111 586.248,477.111 C567.025,477.111 552.944,488.012 552.944,521.017 C552.944,544.327 567.779,566.279 588.218,566.279 C600.935,566.279 612.744,559.772 620.766,551.749 C622.583,549.927 624.855,546.9 627.278,546.9 C628.489,546.9 628.94,547.661 628.94,549.023 C628.94,553.565 612.593,578.393 580.8,578.393 C555.367,578.393 528.417,560.074 528.417,527.825 C528.417,485.588 556.728,470.299 582.768,470.299 C599.422,470.299 612.138,478.323 616.227,478.323 C620.011,478.323 618.65,473.63 622.888,473.63 C624.251,473.63 624.705,474.537 624.855,475.292 L627.128,495.883 z"
          fill="currentColor"
          id="path17"></path>
        <path
          d="M699.198,470.299 C730.232,470.299 754.606,490.432 754.606,522.529 C754.606,556.591 724.027,578.393 692.537,578.393 C661.499,578.393 638.488,557.801 638.488,527.07 C638.488,494.52 667.708,470.299 699.198,470.299 z M699.654,571.579 C717.517,571.579 730.082,552.501 730.082,530.858 C730.082,510.267 717.667,477.111 693.44,477.111 C675.581,477.111 663.012,496.188 663.012,517.833 C663.012,538.422 675.427,571.579 699.654,571.579 z"
          fill="currentColor"
          id="path18"></path>
        <path
          d="M775.061,490.282 C775.061,480.897 769.909,477.717 763.549,477.717 C761.584,477.717 760.372,476.504 760.372,474.387 C760.372,472.873 761.43,471.66 763.098,471.66 C770.361,471.66 777.779,472.873 785.046,472.873 C792.464,472.873 799.731,471.66 805.489,471.66 C807.609,471.66 809.875,471.66 809.875,474.085 C809.875,476.504 807.304,477.263 805.79,477.717 C799.882,479.536 798.067,485.287 798.067,490.282 L798.067,555.838 C798.067,567.341 799.882,568.702 807.609,568.702 C823.502,568.702 832.283,563.854 837.43,558.865 C842.574,553.867 844.246,548.872 848.026,548.872 C850.146,548.872 851.513,551.598 851.513,554.924 C851.513,567.341 839.546,577.029 827.738,577.029 C817.594,577.029 796.858,575.819 786.714,575.819 C781.111,575.819 775.512,577.029 769.909,577.029 C766.426,577.029 763.549,577.029 763.549,574.604 C763.549,572.181 765.974,571.88 769.303,569.766 C774.45,566.43 775.061,560.829 775.061,555.838 L775.061,490.282 z"
          fill="currentColor"
          id="path19"></path>
        <path
          d="M867.566,490.282 C867.566,480.897 862.418,477.717 856.058,477.717 C854.089,477.717 852.88,476.504 852.88,474.387 C852.88,472.873 853.938,471.66 855.607,471.66 C862.87,471.66 870.292,472.873 877.559,472.873 C884.973,472.873 892.24,471.66 897.994,471.66 C900.114,471.66 902.388,471.66 902.388,474.085 C902.388,476.504 899.812,477.263 898.295,477.717 C892.394,479.536 890.572,485.287 890.572,490.282 L890.572,555.838 C890.572,567.341 892.394,568.702 900.114,568.702 C916.011,568.702 924.792,563.854 929.939,558.865 C935.087,553.867 936.751,548.872 940.535,548.872 C942.655,548.872 944.018,551.598 944.018,554.924 C944.018,567.341 932.055,577.029 920.251,577.029 C910.107,577.029 889.363,575.819 879.219,575.819 C873.62,575.819 868.017,577.029 862.418,577.029 C858.935,577.029 856.058,577.029 856.058,574.604 C856.058,572.181 858.479,571.88 861.808,569.766 C866.959,566.43 867.566,560.829 867.566,555.838 L867.566,490.282 z"
          fill="currentColor"
          id="path20"></path>
        <path
          d="M960.831,498.003 C960.831,490.587 960.07,479.231 953.715,478.474 C949.019,477.867 945.841,476.504 945.841,474.085 C945.841,471.66 948.413,471.66 951.444,471.66 C963.098,473.174 974.755,472.722 986.418,472.873 C998.071,472.873 1009.729,471.66 1021.383,471.66 C1024.87,471.66 1027.897,471.66 1027.897,474.687 C1027.897,478.018 1027.29,481.351 1027.29,484.681 C1027.29,488.012 1027.897,491.34 1027.897,494.67 C1027.897,496.339 1027.441,497.551 1025.171,497.551 C1022.75,497.551 1022.298,494.825 1022.148,493.462 C1021.081,483.924 1016.695,479.987 998.978,479.987 L989.14,479.987 C984.899,479.987 983.842,481.351 983.842,487.253 L983.842,513.746 C983.842,516.169 986.418,516.928 992.468,516.928 C1001.253,516.928 1007.914,514.354 1010.331,507.842 C1012.003,503.604 1012.605,503.152 1014.119,503.152 C1016.39,503.152 1016.39,505.268 1016.39,507.39 C1016.39,511.931 1015.783,516.47 1015.783,521.017 C1015.783,525.556 1016.39,530.097 1016.39,534.638 C1016.39,536.76 1016.39,538.876 1013.513,538.876 C1011.247,538.876 1011.247,534.337 1009.428,531.31 C1005.643,525.099 1001.253,524.193 992.468,524.193 C985.201,524.193 983.842,526.162 983.842,529.947 L983.842,555.838 C983.842,567.04 985.811,568.702 993.831,568.702 C1009.729,568.702 1018.51,563.854 1023.657,558.865 C1028.8,553.867 1030.322,548.721 1032.739,548.721 C1034.558,548.721 1035.16,550.086 1035.16,551.598 C1035.16,554.623 1033.952,560.528 1032.894,563.553 C1030.924,569.614 1024.109,577.029 1016.996,577.029 C1006.852,577.029 996.712,575.819 986.568,575.819 C976.424,575.819 966.28,577.029 956.136,577.029 C951.444,577.029 949.169,577.029 949.169,574.604 C949.169,572.181 952.197,571.125 954.923,569.766 C959.92,567.341 960.831,563.703 960.831,555.077 L960.831,498.003 z"
          fill="currentColor"
          id="path21"></path>
        <path
          d="M1118.737,543.271 C1118.737,533.885 1112.833,531.31 1106.477,530.708 C1104.809,530.549 1103.601,529.493 1103.601,527.07 C1103.601,524.948 1106.026,524.647 1112.377,524.647 C1118.436,524.647 1124.491,525.556 1130.546,525.556 C1136.604,525.556 1142.659,524.647 1148.71,524.647 C1152.042,524.647 1153.108,525.556 1153.108,527.07 C1153.108,529.493 1150.533,530.248 1149.015,530.708 C1143.115,532.52 1141.748,538.272 1141.748,543.271 L1141.748,565.374 C1141.748,567.794 1115.258,578.393 1095.727,578.393 C1064.693,578.393 1042.134,558.412 1042.134,527.672 C1042.134,495.277 1066.357,470.299 1096.484,470.299 C1114.652,470.299 1127.824,478.323 1129.939,478.323 C1133.728,478.323 1132.365,473.63 1136.906,473.63 C1137.964,473.63 1138.419,474.537 1138.57,475.292 L1140.991,496.64 C1141.292,499.065 1141.902,502.544 1141.902,503.754 C1141.902,506.027 1141.142,507.39 1139.632,507.39 C1137.813,507.39 1136.149,503.754 1135.542,502.697 C1122.22,479.536 1111.474,477.111 1099.967,477.111 C1074.833,477.111 1066.658,496.64 1066.658,520.861 C1066.658,542.815 1072.717,571.579 1098.608,571.579 C1112.077,571.579 1118.737,566.739 1118.737,552.351 L1118.737,543.271 z"
          fill="currentColor"
          id="path22"></path>
        <path
          d="M1171.13,498.003 C1171.13,490.587 1170.373,479.231 1164.013,478.474 C1159.322,477.867 1156.144,476.504 1156.144,474.085 C1156.144,471.66 1158.719,471.66 1161.747,471.66 C1173.4,473.174 1185.058,472.722 1196.716,472.873 C1208.374,472.873 1220.031,471.66 1231.689,471.66 C1235.168,471.66 1238.195,471.66 1238.195,474.687 C1238.195,478.018 1237.593,481.351 1237.593,484.681 C1237.593,488.012 1238.195,491.34 1238.195,494.67 C1238.195,496.339 1237.744,497.551 1235.469,497.551 C1233.052,497.551 1232.592,494.825 1232.442,493.462 C1231.384,483.924 1226.994,479.987 1209.281,479.987 L1199.438,479.987 C1195.202,479.987 1194.14,481.351 1194.14,487.253 L1194.14,513.746 C1194.14,516.169 1196.716,516.928 1202.771,516.928 C1211.556,516.928 1218.212,514.354 1220.634,507.842 C1222.306,503.604 1222.908,503.152 1224.418,503.152 C1226.693,503.152 1226.693,505.268 1226.693,507.39 C1226.693,511.931 1226.086,516.47 1226.086,521.017 C1226.086,525.556 1226.693,530.097 1226.693,534.638 C1226.693,536.76 1226.693,538.876 1223.816,538.876 C1221.541,538.876 1221.541,534.337 1219.73,531.31 C1215.942,525.099 1211.556,524.193 1202.771,524.193 C1195.503,524.193 1194.14,526.162 1194.14,529.947 L1194.14,555.838 C1194.14,567.04 1196.109,568.702 1204.138,568.702 C1220.031,568.702 1228.812,563.854 1233.959,558.865 C1239.107,553.867 1240.621,548.721 1243.042,548.721 C1244.86,548.721 1245.467,550.086 1245.467,551.598 C1245.467,554.623 1244.254,560.528 1243.192,563.553 C1241.223,569.614 1234.411,577.029 1227.294,577.029 C1217.155,577.029 1207.011,575.819 1196.867,575.819 C1186.727,575.819 1176.582,577.029 1166.435,577.029 C1161.747,577.029 1159.472,577.029 1159.472,574.604 C1159.472,572.181 1162.504,571.125 1165.226,569.766 C1170.223,567.341 1171.13,563.703 1171.13,555.077 L1171.13,498.003 z"
          fill="currentColor"
          id="path23"></path>
        <path
          d="M318.133,645.482 C318.133,651.256 315.907,655.976 311.454,659.642 C306.323,663.882 299.77,666.006 291.788,666.006 C283.807,666.006 277.272,663.882 272.176,659.642 C267.761,655.976 265.552,651.256 265.552,645.482 C265.552,639.786 267.777,635.102 272.231,631.428 C277.394,627.155 283.933,625.015 291.843,625.015 C299.752,625.015 306.288,627.155 311.454,631.428 C315.907,635.102 318.133,639.786 318.133,645.482 z M308.463,645.482 C308.463,641.617 306.947,638.479 303.918,636.067 C300.891,633.649 296.867,632.445 291.843,632.445 C286.82,632.445 282.794,633.649 279.764,636.067 C276.737,638.479 275.223,641.617 275.223,645.482 C275.223,649.417 276.721,652.583 279.712,654.983 C282.705,657.38 286.731,658.576 291.788,658.576 C296.883,658.576 300.935,657.38 303.945,654.983 C306.956,652.583 308.463,649.417 308.463,645.482 z"
          fill="#FDD400"
          id="path24"></path>
        <path
          d="M398.342,633.621 L365.8,633.621 L365.8,641.531 L388.405,641.531 L388.405,648.957 L365.8,648.957 L365.8,664.879 L356.396,664.879 L356.396,626.195 L398.342,626.195 L398.342,633.621 z"
          fill="#FDD400"
          id="path25"></path>
        <path
          d="M520.766,633.621 L488.222,633.621 L488.222,641.531 L510.829,641.531 L510.829,648.957 L488.222,648.957 L488.222,664.879 L478.818,664.879 L478.818,626.195 L520.766,626.195 L520.766,633.621 z"
          fill="#FDD400"
          id="path26"></path>
        <path
          d="M595.794,664.879 L556.624,664.879 L556.624,626.195 L566.03,626.195 L566.03,657.453 L595.794,657.453 L595.794,664.879 z"
          fill="#FDD400"
          id="path27"></path>
        <path
          d="M678.886,645.482 C678.886,651.256 676.66,655.976 672.208,659.642 C667.077,663.882 660.526,666.006 652.543,666.006 C644.56,666.006 638.029,663.882 632.93,659.642 C628.515,655.976 626.306,651.256 626.306,645.482 C626.306,639.786 628.534,635.102 632.983,631.428 C638.147,627.155 644.689,625.015 652.6,625.015 C660.506,625.015 667.045,627.155 672.208,631.428 C676.66,635.102 678.886,639.786 678.886,645.482 z M669.218,645.482 C669.218,641.617 667.704,638.479 664.672,636.067 C661.645,633.649 657.621,632.445 652.6,632.445 C647.575,632.445 643.55,633.649 640.523,636.067 C637.496,638.479 635.978,641.617 635.978,645.482 C635.978,649.417 637.475,652.583 640.466,654.983 C643.461,657.38 647.485,658.576 652.543,658.576 C657.637,658.576 661.69,657.38 664.701,654.983 C667.708,652.583 669.218,649.417 669.218,645.482 z"
          fill="#FDD400"
          id="path28"></path>
        <path
          d="M764.445,664.879 L753.82,664.879 L744.336,651.199 L726.554,651.199 L726.554,664.879 L717.15,664.879 L717.15,626.195 L748.84,626.195 C753.218,626.195 756.742,627.359 759.419,629.69 C762.089,632.026 763.423,635.082 763.423,638.858 C763.423,645.018 760.49,648.904 754.61,650.503 L764.445,664.879 z M747.823,643.773 C749.817,643.773 751.367,643.309 752.47,642.382 C753.576,641.454 754.126,640.192 754.126,638.593 C754.126,637.096 753.56,635.887 752.417,634.984 C751.278,634.073 749.727,633.621 747.77,633.621 L726.554,633.621 L726.554,643.773 L747.823,643.773 z"
          fill="#FDD400"
          id="path29"></path>
        <path
          d="M810.612,664.879 L801.204,664.879 L801.204,626.195 L810.612,626.195 L810.612,664.879 z"
          fill="#FDD400"
          id="path30"></path>
        <path
          d="M876.769,626.195 C883.927,626.195 889.619,628.002 893.839,631.615 C898.063,635.232 900.171,640.017 900.171,645.966 C900.171,651.663 897.876,656.334 893.278,659.964 C889.147,663.247 884.069,664.879 878.047,664.879 L850.797,664.879 L850.797,626.195 L876.769,626.195 z M877.409,657.453 C881.791,657.453 885.282,655.793 887.882,652.485 C889.481,650.454 890.287,648.229 890.287,645.804 C890.287,642.28 889.078,639.362 886.653,637.063 C884.228,634.769 881.132,633.621 877.352,633.621 L860.201,633.621 L860.201,657.453 L877.409,657.453 z"
          fill="#FDD400"
          id="path31"></path>
        <path
          d="M983,664.879 L973.503,664.879 L969.079,656.542 L944.242,656.542 L939.811,664.879 L930.31,664.879 L950.883,626.195 L962.48,626.195 L983,664.879 z M965.084,649.112 L956.587,633.222 L948.136,649.112 L965.084,649.112 z"
          fill="#FDD400"
          id="path32"></path>
        <g id="g24">
          <path
            d="M1262.047,472.357 L1262.047,474.082 L1257.163,474.082 L1257.163,486.848 L1255.181,486.848 L1255.181,474.082 L1250.296,474.082 L1250.296,472.357 L1262.047,472.357 z"
            fill="currentColor"
            id="path33"></path>
          <path
            d="M1263.805,472.357 L1266.616,472.357 L1270.783,484.608 L1274.922,472.357 L1277.713,472.357 L1277.713,486.848 L1275.841,486.848 L1275.841,478.294 C1275.841,478 1275.845,477.509 1275.859,476.825 C1275.872,476.141 1275.88,475.409 1275.88,474.624 L1271.741,486.848 L1269.797,486.848 L1265.621,474.624 L1265.621,475.069 C1265.621,475.424 1265.629,475.966 1265.649,476.691 C1265.669,477.419 1265.678,477.954 1265.678,478.294 L1265.678,486.848 L1263.805,486.848 L1263.805,472.357 z"
            fill="currentColor"
            id="path34"></path>
        </g>
      </g>
    </svg>
  </a>
</section>

<!-- <h3 class="text-center my-10 font-semibold">Gold</h3>
<section class="w-10/12 mx-auto grid grid-cols-1 lg:grid-cols-1">
  <a href="https://blackorlandotech.org/" target="_blank"
    ><img src={Bot.src} alt="Black Orlando Tech Logo" class="object-contain h-56 w-full px-2" />
  </a>
</section> -->

<h3 class="text-center my-10 font-semibold">Copper</h3>
<section class="w-10/12 mx-auto grid grid-cols-1">
  <a href="https://developers.google.com/" target="_blank">
    <img src={GoogleLogo.src} alt="Google Logo" class="object-contain h-64 w-1/2 px-2 mx-auto" />
  </a>
</section>
<section class="w-10/12 mx-auto grid grid-cols-2">
  <a href="https://www.e4c.tech/" target="_blank"
    ><img src={E4C.src} alt="Employers 4 Change Logo" class="object-contain h-64 w-1/2 px-2 mx-auto" /></a
  >
  <a href="https://www.datapsy.com/" target="_blank"
    ><img src={DataPsy.src} alt="Data Psy Logo" class="object-contain h-64 w-1/2 px-2 mx-auto" /></a
  >
</section>

<h3 class="text-center my-10 font-semibold">Community Support</h3>
<section class="w-10/12 mx-auto grid grid-cols-2">
  <a href="https://www.kodeco.com/" target="_blank">
    <img src={Kodeco.src} alt="Kodeco Logo" class="object-contain h-48 w-1/2 px-2 mx-auto" />
  </a>
  <a href="https://www.jetbrains.com/" target="_blank">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="298"
      height="64"
      fill="none"
      viewBox="0 0 298 64"
      class="object-contain h-48 w-1/2 px-2 mx-auto"
    >
      <defs>
        <linearGradient id="a" x1=".850001" x2="62.62" y1="62.72" y2="1.81" gradientUnits="userSpaceOnUse">
          <stop stop-color="#FF9419"></stop>
          <stop offset=".43" stop-color="#FF021D"></stop>
          <stop offset=".99" stop-color="#E600FF"></stop>
        </linearGradient>
      </defs>
      <path
        fill="currentColor"
        d="M86.4844 40.5858c0 .8464-.1792 1.5933-.5377 2.2505-.3585.6573-.8564 1.1651-1.5137 1.5236-.6572.3585-1.3941.5378-2.2406.5378H78v6.1044h5.0787c1.912 0 3.6248-.4282 5.1484-1.2846 1.5236-.8564 2.7186-2.0415 3.585-3.5452.8663-1.5037 1.3045-3.1966 1.3045-5.0886V21.0178h-6.6322v19.568Zm17.8556-1.8224h13.891v-5.6065H104.34v-6.3633h15.355v-5.7758H97.8766v29.9743h22.2464v-5.7757H104.34v-6.453Zm17.865-11.8005h8.882v24.0193h6.633V26.9629h8.842v-5.9451h-24.367v5.9551l.01-.01Zm47.022 9.0022c-.517-.2788-1.085-.4879-1.673-.6472.449-.1295.877-.2888 1.275-.488 1.096-.5676 1.962-1.3643 2.579-2.39.618-1.0257.936-2.2007.936-3.5351 0-1.5237-.418-2.8879-1.244-4.0929-.827-1.195-1.992-2.131-3.486-2.8082-1.494-.6672-3.206-1.0058-5.118-1.0058h-13.315v29.9743h13.574c2.011 0 3.804-.3485 5.387-1.0556 1.573-.707 2.798-1.6829 3.675-2.9476.866-1.2547 1.304-2.6887 1.304-4.302 0-1.4837-.338-2.8082-1.026-3.9833-.687-1.175-1.633-2.0812-2.858-2.7285l-.01.0099Zm-13.603-9.9184h5.886c.816 0 1.533.1494 2.161.4382.627.2888 1.115.707 1.464 1.2547.348.5378.527 1.1751.527 1.9021 0 .7269-.179 1.414-.527 1.9817-.349.5676-.837.9958-1.464 1.3045-.628.3087-1.345.4581-2.161.4581h-5.886v-7.3492.0099Zm10.138 18.134c-.378.5676-.916 1.0058-1.603 1.3145-.697.3087-1.484.4581-2.39.4581h-6.145v-7.6878h6.145c.886 0 1.673.1693 2.37.4979.687.3286 1.235.7867 1.613 1.3842.378.5975.578 1.2747.578 2.0414 0 .7668-.19 1.4241-.568 1.9917Zm29.596-5.3077c1.663-.7967 2.947-1.922 3.864-3.3659.916-1.444 1.374-3.117 1.374-5.0289 0-1.912-.448-3.5253-1.344-4.9592-.897-1.434-2.171-2.5394-3.814-3.3261-1.644-.7867-3.546-1.1751-5.717-1.1751h-13.124v29.9743h6.642V40.0779h4.322l6.084 10.9142h7.578l-6.851-11.7208c.339-.1195.677-.249.996-.3983h-.01Zm-2.151-6.1244c-.369.6274-.896 1.1154-1.583 1.444-.688.3386-1.494.5079-2.42.5079h-5.975v-8.2953h5.975c.926 0 1.732.1693 2.42.4979.687.3287 1.214.8166 1.583 1.434.368.6174.558 1.3544.558 2.1908 0 .8365-.19 1.5734-.558 2.2008v.0199Zm20.594-11.7308-10.706 29.9743h6.742l2.121-6.6122h11.114l2.27 6.6122h6.612L220.99 21.0178h-7.189Zm-.339 18.3431 3.445-10.5756.409-1.922.408 1.922 3.685 10.5756h-7.947Zm20.693 11.6312h6.851V21.0178h-6.851v29.9743Zm31.02-9.6993-12.896-20.275h-6.463v29.9743h6.055V30.7172l12.826 20.2749h6.533V21.0178h-6.055v20.275Zm31.528-3.3559c-.647-1.2448-1.564-2.2904-2.729-3.1369-1.165-.8464-2.509-1.4041-4.023-1.6929l-5.098-1.0456c-.797-.1892-1.434-.5178-1.902-.9958-.469-.478-.708-1.0755-.708-1.7825 0-.6473.17-1.205.518-1.683.339-.478.827-.8464 1.444-1.1153.618-.2689 1.335-.3983 2.151-.3983.817 0 1.554.1394 2.181.4182.627.2788 1.115.6672 1.464 1.1751s.528 1.0755.528 1.7228h6.642c-.04-1.7427-.528-3.2863-1.444-4.6207-.916-1.3443-2.201-2.3899-3.834-3.1468-1.633-.7568-3.505-1.1352-5.597-1.1352-2.091 0-3.943.3884-5.566 1.1751-1.623.7867-2.898 1.8721-3.804 3.2663-.906 1.3941-1.364 2.9775-1.364 4.76 0 1.444.288 2.7485.876 3.9036.587 1.1652 1.414 2.1311 2.479 2.8979 1.076.7668 2.311 1.3045 3.725 1.6033l5.397 1.1153c.886.2091 1.584.5975 2.101 1.1551.518.5577.767 1.2448.767 2.0813 0 .6672-.189 1.2747-.567 1.8025-.379.5277-.907.936-1.584 1.2248-.677.2888-1.474.4282-2.39.4282-.916 0-1.782-.1593-2.529-.478-.747-.3186-1.325-.7767-1.733-1.3742-.418-.5875-.617-1.2747-.617-2.0414h-6.642c.029 1.8721.527 3.5152 1.513 4.9492.976 1.424 2.32 2.5394 4.033 3.336 1.713.7967 3.675 1.195 5.886 1.195 2.21 0 4.202-.4083 5.915-1.2249 1.723-.8165 3.057-1.9418 4.023-3.3758.966-1.434 1.444-3.0572 1.444-4.8696 0-1.4838-.329-2.848-.976-4.1028l.02.01Z"
      ></path>
      <path
        fill="url(#a)"
        d="M20.34 3.66 3.66 20.34C1.32 22.68 0 25.86 0 29.18V59c0 2.76 2.24 5 5 5h29.82c3.32 0 6.49-1.32 8.84-3.66l16.68-16.68c2.34-2.34 3.66-5.52 3.66-8.84V5c0-2.76-2.24-5-5-5H29.18c-3.32 0-6.49 1.32-8.84 3.66Z"
      ></path>
      <path fill="#000" d="M48 16H8v40h40V16Z"></path>
      <path fill="#fff" d="M30 47H13v4h17v-4Z"></path>
    </svg>
  </a>
  <a href="https://www.orlandodevs.com/" target="_blank">
    <img src={OrlandoDevs.src} alt="Orlando Devs Logo" class="object-contain h-48 w-1/2 px-2 mx-auto" />
  </a>
  <a href="https://onetug.net/" target="_blank">
    <img src={onetug.src} alt="Orlando .NET Users Group Logo" class="object-contain h-48 w-1/2 px-2 mx-auto" />
  </a>
  <a href="https://www.postman.com/" target="_blank">
    <img src={Postman.src} alt="Postman Logo" class="object-contain h-48 w-1/2 px-2 mx-auto" />
  </a>
</section>
