---
import CityBanner from '~/components/widgets/CityBanner.astro';
import Layout from '~/layouts/PageLayout.astro';

import Button from '~/components/ui/Button.astro';
import EmailForm from '~/components/ui/EmailForm.astro';
import FaGlobe from '../assets/images/FaGlobe.svg';
import FaLinkedin from '../assets/images/FaLinkedin.svg';
import FaMeetup from '../assets/images/FaMeetup.svg';
import FaTwitter from '../assets/images/FaTwitter.svg';

const metadata = {
  title:
    'DevFest Florida is group of GDG chapters from around the state of Florida. We work together to bring technologists and developers from the Florida area to code, learn, have fun, and give back.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <h1 class="sr-only">DevFest Florida</h1>
  <!--?xml version="1.0" encoding="UTF-8"?-->
  <svg
    class="mx-auto max-w-full max-h-96"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0"
    y="0"
    viewBox="0, 0, 1484.956, 559.162"
  >
    <g id="Layer_1" transform="translate(-0.25, -0.25)">
      <g id="Brackets">
        <path
          d="M47.114,334.302 L71.768,334.302 C80.555,334.302 87.678,341.425 87.678,350.212 L87.678,438.36 C87.678,482.296 123.294,517.912 167.23,517.912 L217.076,517.912 C220.591,517.912 223.44,515.063 223.44,511.548 L223.44,422.288 C223.44,418.773 220.59,415.923 217.076,415.923 L182.017,415.923 C173.23,415.923 166.107,408.8 166.107,400.013 L166.107,158.649 C166.107,149.862 173.23,142.738 182.017,142.738 L217.076,142.738 C220.591,142.738 223.44,139.889 223.44,136.374 L223.44,47.114 C223.44,43.599 220.59,40.75 217.076,40.75 L167.23,40.75 C123.294,40.75 87.678,76.366 87.678,120.301 L87.678,212.426 C87.678,221.213 80.555,228.337 71.768,228.337 L47.114,228.337 C43.599,228.337 40.75,231.186 40.75,234.701 L40.75,327.938 C40.75,331.453 43.599,334.302 47.114,334.302"
          fill="currentColor"></path>
        <path
          d="M48.114,335.302 L72.768,335.302 C81.555,335.302 88.678,342.425 88.678,351.212 L88.678,439.36 C88.678,483.296 124.294,518.912 168.23,518.912 L218.076,518.912 C221.591,518.912 224.44,516.063 224.44,512.548 L224.44,423.288 C224.44,419.773 221.59,416.923 218.076,416.923 L183.017,416.923 C174.23,416.923 167.107,409.8 167.107,401.013 L167.107,159.649 C167.107,150.862 174.23,143.738 183.017,143.738 L218.076,143.738 C221.591,143.738 224.44,140.889 224.44,137.374 L224.44,48.114 C224.44,44.599 221.59,41.75 218.076,41.75 L168.23,41.75 C124.294,41.75 88.678,77.366 88.678,121.301 L88.678,213.426 C88.678,222.213 81.555,229.337 72.768,229.337 L48.114,229.337 C44.599,229.337 41.75,232.186 41.75,235.701 L41.75,328.938 C41.75,332.453 44.599,335.302 48.114,335.302 z"
          fill-opacity="0"
          stroke="currentColor"
          stroke-width="20"></path>
        <g>
          <path
            d="M1437.842,334.802 L1413.188,334.802 C1404.401,334.802 1397.278,341.925 1397.278,350.712 L1397.278,438.86 C1397.278,482.796 1361.662,518.412 1317.726,518.412 L1267.88,518.412 C1264.365,518.412 1261.516,515.563 1261.516,512.048 L1261.516,422.788 C1261.516,419.273 1264.366,416.423 1267.88,416.423 L1302.939,416.423 C1311.726,416.423 1318.849,409.3 1318.849,400.513 L1318.849,159.149 C1318.849,150.362 1311.726,143.238 1302.939,143.238 L1267.88,143.238 C1264.365,143.238 1261.516,140.389 1261.516,136.874 L1261.516,47.614 C1261.516,44.099 1264.366,41.25 1267.88,41.25 L1317.726,41.25 C1361.662,41.25 1397.278,76.866 1397.278,120.801 L1397.278,212.926 C1397.278,221.713 1404.401,228.837 1413.188,228.837 L1437.842,228.837 C1441.357,228.837 1444.206,231.686 1444.206,235.201 L1444.206,328.438 C1444.206,331.953 1441.357,334.802 1437.842,334.802"
            fill="currentColor"></path>
          <path
            d="M1438.342,335.302 L1413.688,335.302 C1404.901,335.302 1397.778,342.425 1397.778,351.212 L1397.778,439.36 C1397.778,483.296 1362.162,518.912 1318.226,518.912 L1268.38,518.912 C1264.865,518.912 1262.016,516.063 1262.016,512.548 L1262.016,423.288 C1262.016,419.773 1264.866,416.923 1268.38,416.923 L1303.439,416.923 C1312.226,416.923 1319.349,409.8 1319.349,401.013 L1319.349,159.649 C1319.349,150.862 1312.226,143.738 1303.439,143.738 L1268.38,143.738 C1264.865,143.738 1262.016,140.889 1262.016,137.374 L1262.016,48.114 C1262.016,44.599 1264.866,41.75 1268.38,41.75 L1318.226,41.75 C1362.162,41.75 1397.778,77.366 1397.778,121.301 L1397.778,213.426 C1397.778,222.213 1404.901,229.337 1413.688,229.337 L1438.342,229.337 C1441.857,229.337 1444.706,232.186 1444.706,235.701 L1444.706,328.938 C1444.706,332.453 1441.857,335.302 1438.342,335.302"
            fill-opacity="0"
            stroke="#000000"
            stroke-width="10"></path>
        </g>
        <path
          d="M1438.342,335.302 L1413.688,335.302 C1404.901,335.302 1397.778,342.425 1397.778,351.212 L1397.778,439.36 C1397.778,483.296 1362.162,518.912 1318.226,518.912 L1268.38,518.912 C1264.865,518.912 1262.016,516.063 1262.016,512.548 L1262.016,423.288 C1262.016,419.773 1264.866,416.923 1268.38,416.923 L1303.439,416.923 C1312.226,416.923 1319.349,409.8 1319.349,401.013 L1319.349,159.649 C1319.349,150.862 1312.226,143.738 1303.439,143.738 L1268.38,143.738 C1264.865,143.738 1262.016,140.889 1262.016,137.374 L1262.016,48.114 C1262.016,44.599 1264.866,41.75 1268.38,41.75 L1318.226,41.75 C1362.162,41.75 1397.778,77.366 1397.778,121.301 L1397.778,213.426 C1397.778,222.213 1404.901,229.337 1413.688,229.337 L1438.342,229.337 C1441.857,229.337 1444.706,232.186 1444.706,235.701 L1444.706,328.938 C1444.706,332.453 1441.857,335.302 1438.342,335.302 z"
          fill-opacity="0"
          stroke="currentColor"
          stroke-width="20"></path>
      </g>
      <path
        d="M919.303,187.46 L921.717,187.492 C932.45,187.709 942.899,190.276 952.142,195.789 C961.024,201.345 967.765,208.758 972.368,218.039 C976.967,227.319 979.269,237.593 979.269,248.855 C979.269,251.395 979.187,253.577 979.031,255.399 C978.872,257.224 978.711,258.533 978.555,259.326 L887.541,259.326 C888.239,263.908 889.541,267.997 891.461,271.581 C894.473,277.214 898.559,281.497 903.716,284.43 C908.87,287.368 914.621,288.833 920.968,288.833 C928.423,288.833 934.689,287.208 939.767,283.954 C944.842,280.705 948.81,276.619 951.666,271.699 L976.89,284.073 C971.179,294.068 963.72,301.962 954.521,307.75 C945.319,313.54 933.974,316.437 920.492,316.437 C908.275,316.437 897.369,313.659 887.773,308.108 C878.172,302.557 870.639,294.942 865.166,285.263 C859.693,275.589 856.956,264.561 856.956,252.186 C856.956,240.608 859.652,229.9 865.047,220.061 C870.439,210.227 877.815,202.333 887.178,196.385 C896.536,190.435 907.244,187.46 919.303,187.46 z M919.541,212.922 C913.51,212.923 908,214.51 903.002,217.682 C898.005,220.857 894.078,225.259 891.223,230.889 C890.225,232.858 889.412,234.965 888.763,237.195 L949.286,237.194 C949.126,234.499 948.334,231.722 946.907,228.866 C945.478,226.01 943.493,223.393 940.957,221.013 C938.418,218.634 935.365,216.693 931.796,215.184 C928.226,213.677 924.14,212.923 919.541,212.923 L919.541,212.922 z M529.38,212.922 L529.38,212.923 C533.979,212.923 538.065,213.677 541.635,215.184 C545.204,216.693 548.257,218.634 550.796,221.013 C553.332,223.393 555.317,226.01 556.746,228.866 C558.173,231.722 558.965,234.499 559.125,237.194 L498.602,237.195 C499.251,234.965 500.064,232.858 501.062,230.889 C503.917,225.259 507.844,220.857 512.841,217.682 C517.839,214.51 523.349,212.923 529.38,212.922 z M529.142,187.46 C517.083,187.46 506.375,190.435 497.017,196.385 C487.654,202.333 480.278,210.227 474.886,220.061 C469.491,229.9 466.795,240.608 466.795,252.186 C466.795,264.561 469.532,275.589 475.005,285.263 C480.478,294.942 488.011,302.557 497.612,308.108 C507.208,313.659 518.114,316.437 530.331,316.437 C543.813,316.437 555.157,313.54 564.36,307.75 C573.559,301.962 581.018,294.068 586.729,284.073 L561.505,271.699 C558.649,276.619 554.681,280.705 549.606,283.954 C544.528,287.208 538.262,288.833 530.807,288.833 C524.46,288.833 518.708,287.368 513.555,284.43 C508.398,281.497 504.312,277.214 501.3,271.581 C499.38,267.997 498.078,263.908 497.381,259.326 L588.394,259.326 C588.55,258.533 588.711,257.224 588.87,255.399 C589.026,253.577 589.108,251.395 589.108,248.855 C589.108,237.593 586.806,227.319 582.207,218.039 C577.604,208.758 570.863,201.345 561.981,195.789 C552.738,190.276 542.289,187.709 531.556,187.492 L529.142,187.46 z M1042.494,187.46 L1042.495,187.46 C1033.769,187.46 1025.798,188.97 1018.581,191.982 C1011.36,194.997 1005.649,199.202 1001.447,204.593 C997.242,209.988 995.141,216.335 995.141,223.631 C995.141,230.137 996.765,235.886 1000.019,240.883 C1003.269,245.88 1007.515,250.007 1012.75,253.257 C1017.985,256.51 1023.537,258.771 1029.408,260.038 L1043.686,263.132 C1047.017,263.768 1050.267,264.6 1053.442,265.631 C1056.614,266.665 1059.272,268.092 1061.414,269.914 C1063.555,271.74 1064.626,274.238 1064.626,277.41 C1064.626,281.854 1062.563,284.906 1058.439,286.571 C1054.312,288.238 1049.712,289.07 1044.637,289.07 C1038.451,289.07 1033.055,287.605 1028.455,284.668 C1023.853,281.734 1020.205,277.41 1017.509,271.699 L989.668,283.835 C991.888,289.706 995.297,295.101 999.9,300.017 C1004.5,304.935 1010.49,308.903 1017.867,311.914 C1025.243,314.926 1034.167,316.436 1044.637,316.436 C1054.156,316.436 1062.8,314.807 1070.575,311.558 C1078.347,308.308 1084.533,303.705 1089.136,297.756 C1093.736,291.807 1096.037,284.869 1096.037,276.934 C1096.037,268.052 1092.981,260.437 1086.875,254.09 C1080.766,247.746 1071.683,243.144 1059.629,240.288 L1041.781,236.004 C1037.338,234.896 1033.531,233.231 1030.36,231.007 C1027.184,228.787 1025.6,226.17 1025.6,223.154 C1025.6,220.299 1027.184,217.841 1030.36,215.778 C1033.531,213.718 1037.815,212.684 1043.21,212.684 C1047.809,212.684 1052.133,213.636 1056.179,215.54 C1060.224,217.443 1063.514,220.775 1066.054,225.534 L1092.706,213.874 C1089.85,207.847 1086.043,202.891 1081.284,199.002 C1076.525,195.116 1070.891,192.22 1064.388,190.316 C1057.881,188.412 1050.586,187.46 1042.494,187.46 z M1157.642,157.001 L1126.47,157.001 L1126.47,191.268 L1105.291,191.268 L1105.291,217.919 L1126.47,217.919 L1126.47,273.84 C1126.471,286.534 1130.04,296.488 1137.178,303.705 C1144.317,310.926 1154.153,314.532 1166.685,314.532 C1170.494,314.532 1174.181,314.175 1177.751,313.461 C1181.321,312.747 1184.848,311.759 1188.34,310.487 L1188.34,280.027 C1185.009,282.091 1182.232,283.478 1180.011,284.192 C1177.789,284.906 1175.409,285.263 1172.872,285.263 C1167.478,285.263 1163.593,283.876 1161.212,281.098 C1158.833,278.325 1157.643,274 1157.642,268.129 L1157.642,217.919 L1187.388,217.919 L1187.388,191.268 L1157.642,191.268 L1157.642,157.001 z M847.557,142.248 L739.522,142.248 L739.522,312.629 L771.647,312.629 L771.647,244.571 L839.942,244.571 L839.942,214.112 L771.647,214.112 L771.647,172.707 L847.557,172.707 L847.557,142.248 z M362.331,172.706 L362.332,172.706 C374.862,172.707 385.332,174.967 393.743,179.489 C402.15,184.01 408.455,190.357 412.661,198.525 C416.863,206.699 418.967,216.336 418.967,227.438 C418.967,238.384 416.863,247.985 412.661,256.232 C408.455,264.482 402.15,270.867 393.743,275.388 C385.332,279.909 374.862,282.17 362.331,282.169 L338.297,282.169 L338.297,172.706 L362.331,172.706 z M363.759,142.247 L306.172,142.247 L306.172,312.628 L363.76,312.628 C381.845,312.629 397.432,309.059 410.52,301.92 C423.607,294.782 433.68,284.787 440.741,271.936 C447.798,259.088 451.33,244.255 451.33,227.438 C451.33,210.625 447.798,195.83 440.741,183.058 C433.68,170.291 423.607,160.296 410.52,153.075 C397.432,145.858 381.845,142.248 363.759,142.247 z M625.422,191.267 L589.965,191.267 L641.365,312.628 L672.3,312.628 L724.176,191.267 L689.195,191.267 L658.022,270.271 L656.118,270.271 L625.422,191.267 z"
        fill="currentColor"></path>
      <g id="Location">
        <path
          d="M1131.046,470.331 L353.41,470.331 C315.749,470.331 285.219,439.801 285.219,402.14 L285.219,402.139 C285.219,364.478 315.749,333.948 353.41,333.948 L1131.046,333.948 C1168.707,333.948 1199.238,364.478 1199.238,402.139 L1199.238,402.14 C1199.238,439.801 1168.707,470.331 1131.046,470.331"
          fill="currentColor"
          display="none"></path>
        <path
          d="M1132.046,471.331 L354.41,471.331 C316.749,471.331 286.219,440.801 286.219,403.14 L286.219,403.139 C286.219,365.478 316.749,334.948 354.41,334.948 L1132.046,334.948 C1169.707,334.948 1200.238,365.478 1200.238,403.139 L1200.238,403.14 C1200.238,440.801 1169.707,471.331 1132.046,471.331 z"
          fill-opacity="0"
          stroke="currentColor"
          stroke-width="5"
          display="none"></path>
        <path
          d="M522.827,361.808 L588.203,361.808 L588.203,380.24 L542.267,380.24 L542.267,405.296 L583.595,405.296 L583.595,423.728 L542.267,423.728 L542.267,464.912 L522.827,464.912 z"
          fill="currentColor"></path>
        <path d="M601.987,361.808 L620.851,361.808 L620.851,464.912 L601.987,464.912 z" fill="currentColor"></path>
        <path
          d="M673.084,467.216 Q661.708,467.216 652.78,462.104 Q643.852,456.992 638.884,448.136 Q633.916,439.28 633.916,428.192 Q633.916,417.248 638.884,408.32 Q643.852,399.392 652.78,394.28 Q661.708,389.168 673.084,389.168 Q684.316,389.168 693.244,394.28 Q702.172,399.392 707.14,408.32 Q712.108,417.248 712.108,428.192 Q712.108,439.28 707.14,448.136 Q702.172,456.992 693.244,462.104 Q684.316,467.216 673.084,467.216 z M673.084,449.792 Q678.556,449.792 683.164,447.2 Q687.772,444.608 690.508,439.712 Q693.244,434.816 693.244,428.192 Q693.244,421.712 690.508,416.816 Q687.772,411.92 683.164,409.328 Q678.556,406.736 673.084,406.736 Q667.612,406.736 663.004,409.328 Q658.396,411.92 655.588,416.816 Q652.78,421.712 652.78,428.192 Q652.78,434.672 655.588,439.64 Q658.396,444.608 663.004,447.2 Q667.612,449.792 673.084,449.792 z"
          fill="currentColor"></path>
        <path
          d="M724.308,391.472 L742.02,391.472 L742.02,401.264 L743.172,401.264 Q745.908,396.08 751.668,392.696 Q757.428,389.312 764.34,389.312 Q769.38,389.312 773.556,390.896 L773.556,409.76 Q769.668,408.32 767.004,407.672 Q764.34,407.024 761.316,407.024 Q752.964,407.024 748.068,413.072 Q743.172,419.12 743.172,428.336 L743.172,464.912 L724.308,464.912 z"
          fill="currentColor"></path>
        <path
          d="M795.693,383.408 Q790.653,383.408 787.053,379.808 Q783.453,376.208 783.453,371.168 Q783.453,366.128 787.053,362.6 Q790.653,359.072 795.693,359.072 Q800.733,359.072 804.261,362.6 Q807.789,366.128 807.789,371.168 Q807.789,376.208 804.261,379.808 Q800.733,383.408 795.693,383.408 z M786.189,391.472 L805.053,391.472 L805.053,464.912 L786.189,464.912 z"
          fill="currentColor"></path>
        <path
          d="M854.837,467.216 Q844.901,467.216 836.765,462.248 Q828.629,457.28 823.949,448.424 Q819.269,439.568 819.269,428.192 Q819.269,416.96 823.949,408.032 Q828.629,399.104 836.765,394.136 Q844.901,389.168 854.837,389.168 Q862.325,389.168 868.085,392.408 Q873.845,395.648 876.869,400.4 L878.021,400.4 L876.869,390.032 L876.869,361.808 L895.589,361.808 L895.589,464.912 L878.021,464.912 L878.021,456.128 L876.869,456.128 Q873.989,460.88 868.157,464.048 Q862.325,467.216 854.837,467.216 z M858.005,449.792 Q863.333,449.792 867.941,447.056 Q872.549,444.32 875.285,439.424 Q878.021,434.528 878.021,428.192 Q878.021,421.856 875.285,416.96 Q872.549,412.064 867.941,409.4 Q863.333,406.736 858.005,406.736 Q852.821,406.736 848.213,409.4 Q843.605,412.064 840.869,416.96 Q838.133,421.856 838.133,428.192 Q838.133,434.528 840.869,439.424 Q843.605,444.32 848.213,447.056 Q852.821,449.792 858.005,449.792 z"
          fill="currentColor"></path>
        <path
          d="M935.15,467.216 Q923.486,467.216 915.998,460.376 Q908.51,453.536 908.51,442.448 Q908.51,435.104 912.398,429.488 Q916.286,423.872 923.054,420.848 Q929.822,417.824 938.03,417.824 Q949.406,417.824 957.47,421.136 L957.47,417.968 Q957.47,411.92 952.934,408.176 Q948.398,404.432 940.766,404.432 Q935.582,404.432 930.758,406.808 Q925.934,409.184 922.766,413.072 L910.67,403.568 Q915.998,396.656 924.062,392.912 Q932.126,389.168 941.63,389.168 Q958.478,389.168 967.262,396.944 Q976.046,404.72 976.046,419.696 L976.046,464.912 L957.47,464.912 L957.47,457.424 L956.318,457.424 Q953.006,461.744 947.606,464.48 Q942.206,467.216 935.15,467.216 z M939.614,452.528 Q947.822,452.528 952.646,447.272 Q957.47,442.016 957.47,434.96 Q950.126,431.504 942.062,431.504 Q927.374,431.504 927.374,442.448 Q927.374,446.912 930.542,449.72 Q933.71,452.528 939.614,452.528 z"
          fill="currentColor"></path>
      </g>
    </g>
  </svg>

  <section class="flex flex-col xl:flex-row grow">
    <CityBanner
      id="orlando"
      color="bg-sky-400"
      alt="DevFest CFL"
      location="Seminole State College, Sanford/Lake Mary Campus"
      date="September 28th, 2024"
      gdgWebsite="https://gdg.community.dev/gdg-central-florida/"
      twitter="GDGCentralFL"
      linkedIn="https://www.linkedin.com/company/google-developers-group-central-florida/"
      meetup="https://www.meetup.com/gdg-central-florida/"
      chapterName="Central Florida"
      url="/orlando"
    >
      <ul class="flex flex-row space-y-0 space-x-4 text-xl my-4 w-100 place-items-center justify-center">
        <li class="m-0">Space Coast</li>
        <li class="m-0">
          <a href="https://gdg.community.dev/gdg-space-coast/" aria-label={`GDG Space Coast Website`}>
            <img src={FaGlobe.src} height="20px" width="20px" alt="GDG Website" />
          </a>
        </li>
        <li class="m-0">
          <a href={'https://www.twitter.com/gdgspacecoast'} aria-label={`Follow GDG Space Coast on Twitter`}>
            <img src={FaTwitter.src} height="20px" width="20px" alt="Twitter" />
          </a>
        </li>
        <li class="m-0">
          <a href="https://www.linkedin.com/company/gdgspacecoast/" aria-label={`Follow GDG Space Coast on LinkedIn`}>
            <img src={FaLinkedin.src} height="20px" width="20px" alt="LinkedIn" />
          </a>
        </li>
        <li class="m-0">
          <a href="https://www.meetup.com/gdg-space-coast/" aria-label={`Follow GDG Space Coast on Meetup`}>
            <img src={FaMeetup.src} height="20px" width="20px" alt="MeetUp" />
          </a>
        </li>
      </ul>
      <ul class="flex flex-row space-y-0 space-x-4 text-xl my-4 w-100 place-items-center justify-center">
        <li class="m-0">Daytona Beach</li>
        <li class="m-0">
          <a href="https://gdg.community.dev/gdg-daytona-beach/" aria-label={`GDG Space Coast Website`}>
            <img src={FaGlobe.src} height="20px" width="20px" alt="GDG Website" />
          </a>
        </li>
        <li class="m-0">
          <a href="https://www.meetup.com/gdg-daytona-beach/" aria-label={`Follow GDG Space Coast on Meetup`}>
            <img src={FaMeetup.src} height="20px" width="20px" alt="MeetUp" />
          </a>
        </li>
      </ul>

      <Button
        text="Get your tickets now!"
        variant="primary"
        target="_blank"
        icon="tabler:square-rounded-arrow-right"
        href="https://www.eventbrite.com/e/935541117667?aff=oddtdtcreator"
      />
    </CityBanner>

    <CityBanner
      id="tampa"
      color="bg-green-400"
      alt="DevFest Tampa"
      date="TBD"
      gdgWebsite="https://gdg.community.dev/gdg-tampa-bay/"
      twitter="GDGSuncoast"
      linkedIn="https://www.linkedin.com/company/gdgsuncoast/"
      meetup="https://www.meetup.com/gdgtampabay/"
      chapterName="Tampa"
    >
      <ul class="flex flex-row space-y-0 space-x-4 text-xl my-4 w-100 place-items-center justify-center">
        <li class="m-0">USF</li>
        <li class="m-0">
          <a
            href="https://gdsc.community.dev/university-of-south-florida-tampa-united-states/"
            aria-label={`GDSC USF Website`}
          >
            <img src={FaGlobe.src} height="20px" width="20px" alt="GDG Website" />
          </a>
        </li>
        <li class="m-0">
          <a href={'https://www.twitter.com/usfgdsc'} aria-label={`Follow GDSC USF on Twitter`}>
            <img src={FaTwitter.src} height="20px" width="20px" alt="Twitter" />
          </a>
        </li>
        <li class="m-0">
          <a href="https://www.linkedin.com/company/usfgdsc" aria-label={`Follow GDSC USF on LinkedIn`}>
            <img src={FaLinkedin.src} height="20px" width="20px" alt="LinkedIn" />
          </a>
        </li>
      </ul>
      <ul class="flex flex-row space-y-0 space-x-4 text-xl my-4 w-100 place-items-center justify-center">
        <li class="m-0">
          <a href="https://2023-tampa.devfestflorida.com/"> DevFest Tampa 2023 </a>
        </li>
      </ul>
    </CityBanner>

    <CityBanner
      id="miami"
      color="bg-rose-400"
      alt="DevFest Miami"
      date="TBD"
      gdgWebsite="https://gdg.community.dev/gdg-miami/"
      twitter="GDGMiami"
      linkedIn="https://www.linkedin.com/company/gdg-miami/"
      meetup="https://www.meetup.com/gdgmiami/"
      chapterName="Miami"
    >
      <ul class="flex flex-row space-y-0 space-x-4 text-xl my-4 w-100 place-items-center justify-center">
        <li class="m-0">
          <a href="https://2023-miami.devfestflorida.com/"> DevFest Miami 2023 </a>
          <li class="m-0">
            <a href="https://2022.devfestflorida.com/">DevFest Miami 2022</a>
          </li>
        </li>
      </ul>
    </CityBanner>
  </section>

  <section class="px-8">
    <EmailForm />
  </section>
</Layout>
